.ReactModalPortal {
  z-index: 999999;
}

.Modal {
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  background: #fff;

  display: flex;
  flex-direction: column;

  padding: 2rem;
  border: 0;
  border-radius: 0.5rem;
  outline: none;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  -webkit-tap-highlight-color: transparent;
}

.dialogHeader {
  font-size: 26px;
  padding: 0 ;
  height: 3rem;
}
