<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>coding</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="../../css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/common.css">
</head>
<body>
  <div class="wrapper">
    <div class="navbar">
      <a href="../../index.html" class="demo-link">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </a>
    </div>

    <div class="blockly-wrapper">
      coding
    </div>
  </div>
</body>
</html>