<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>control</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="../../css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/common.css">
</head>
<body>
  <div class="wrapper">
    <div class="navbar">
      <a href="../../index.html" class="demo-link">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </a>
    </div>

    <div class="tool-bar">
      <button class="cbutton">模式1</button>
      <button class="cbutton">模式2</button>
      <button class="cbutton">模式3</button>
      <button class="cbutton">模式4</button>
    </div>
    <div class="zone-wrapper">
      <div class="zone" id="zoneL"></div>
      <div class="zone" id="zoneC"></div>
      <div class="zone" id="zoneR"></div>
    </div>
  </div>

<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/nipplejs.js"></script>
<script src="js/main.js"></script>
</body>
</html>