@import '../../css/base';

.cmd-content {
  display: flex;
  flex-direction: row;
}


::i-block-chrome, .cmd-content {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
}

.row {
  padding: 0;
}

.msg, .opts {
  overflow: hidden;
}
.msg {
  flex: 1;
  color: #ddd;
  background: rgba(0,0,0,.8);
  overflow: auto;
  line-height: 1.8rem;
  padding: 1rem;
}

.opts {
  flex: 1;
  padding: 0 2rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cmd-type {
  height: 5rem;
}

form {
  margin-top: 20px;
}

.cmd-item {

}
.cmd-item-back {
  color: #95ef6d;
}

.cmd {
  padding-left: 0;
  padding-right: 6px;
}
.cmd-input {
  padding: 8px;
  width: 100%!important;
}

.menus {
  width: 100%;
}

#btn-cmd-add {
  display: block;
  float: right;
}


@media (min-width: 768px) {
  .form-inline .form-group {
    margin-bottom: 15px;
  }
}