* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    width:100%;
    font-family: monospace;
    padding: 0px 0px 20px 0;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.demos {
  margin-top: 100px;
}

.demos a {
  font-size: 36px;
}
.demos button {
  min-width: 120px;
  height: 40px;
  font-size: 20px;
  display: block;
  margin: 5px;
  border: 1px solid #666;
}

/* modal dialog */
.tingle-modal {
  -webkit-tap-highlight-color: transparent;
}

.tingle-modal-box__content {
  padding: 2rem;
  height: 100%;
}

.tingle-modal__close{
  display: none;
}

.tingle-modal-box {
  width: 95%;
  height: 90%;
  overflow: hidden;
}

.connectDialog {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dialogHeader {
  font-size: 26px;
  padding: 0 ;
  height: 3rem;
}

.dialogHeader i {
  padding: 10px;
}

.headerRight i:active, .connectList li:active{
  background-color: #ccc;
}

.dialogHeader .headerRight {
  float: right;
}

.connectList {
  flex: 1;
  padding: 0;
  /*height: 400px;*/
  overflow-y: auto;
}

.connectList li {
  font-size: 28px;
  padding: 10px 10px;
  color: #333;
  list-style: none;
  overflow: hidden;
}

.connectList .distance {
  float: right;
  color: #aaa;
}
.connectList .mac_address {
  float: left;
  max-width: 85px;
  overflow: hidden;
  color: #aaa;
}

/* container */
#toolbar{
  margin: 15px 0;
  line-height: 2rem;
}

#toolbar button {
  font-size: 25px;
  background: none;
  border: 1px solid #666;
  padding: 5px 10px;
  box-shadow: 1px 1px 2px #666;
}

#toolbar button:active {
  -webkit-tap-highlight-color: transparent;
  background-color: #999;
}


.row {
  padding: 0;
}

.workspace {
  /*margin-top: 80px;*/
}

.msg {
  height: 200px;
  color: #ddd;
  padding: 5px;
  background: rgba(0,0,0,.8);
  overflow: auto;
}

form {
  margin-top: 20px;
}

.cmd {
  padding-left: 0;
  padding-right: 6px;
}
.cmd-input {
  padding: 8px;
  width: 100%!important;
}

.menus {
  width: 100%;
}

#btn-cmd-add {
  display: block;
  float: right;
}

.demo-link {
  float: right;
  display: inline-block;
  margin-left: 2rem;
  font-size: 1.7rem;
  padding: 0.5rem;
}
a.demo-link:hover {
  text-decoration: none;
}